<div class='wrapper'>
    <!-- Main Header -->
  <%= render 'commons/header' %>
  <!-- Left side column. contains the logo and sidebar -->
  <%= render 'commons/sidebar' %>

  <!-- Content Wrapper. Contains page content -->
  <div id='top-page-wrapper' class="content-wrapper">
    <div class="row">
      <div id='welcome-title-box' class="col-md-8 col-md-offset-2">
        <h1>Chatapp</h1>
        <h2>welcome back <%= current_user.talker.username %>!</h2>

        <div class="row">
          <div id='' class="label label-primary col-xs-6 col-xs-offset-3 col-md-3 col-md-offset-2">
          <h5>さあ始めよう</h5></div>
          <div id='' class="label label-primary col-xs-6 col-xs-offset-3 col-md-3 col-md-offset-2">
          <h5>さあ始めよう</h5></div>
        </div>

      </div>
    </div>


  </div>
  <!-- /.content-wrapper -->

  <!-- Main Footer -->
  <footer class="main-footer">
    <!-- To the right -->
    <div class="pull-right hidden-xs">
      Anything you want
    </div>
    <!-- Default to the left -->
    <strong>Copyright &copy; 2016 <a href="#">Company</a>.</strong> All rights reserved.
  </footer>
  <!-- Add the sidebar's background. This div must be placed
       immediately after the control sidebar -->
</div>
